<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>

    <title>Simple Blog</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


</head>


<body>


<header>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1" style="font-weight: bold;">Simple Blog Test</span>
    </nav>

</header>

<section>
    <div class="container" style="width: 60%; padding-bottom: 30px">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: white; padding-left: 0px;">
                <li class="breadcrumb-item" aria-current="page"><a href="/posts">Posts</a></li>
                <li class="breadcrumb-item active" aria-current="page">Novo Post</li>
            </ol>
        </nav>
        <div>

        </div>
    </div>

</section>

</body>

</html>